@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

:root {
  --background: #ffffff;
  --foreground: #000000;
  --font-poppins: "Poppins", sans-serif;
  --section-max-width: 85rem;
  --section-max-width-narrow: 82rem;
}

html {
  background: #ffffff;
  color-scheme: light;
}

body {
  min-height: 100vh;
  margin: 0;
  background: #ffffff;
  color: var(--foreground);
  font-family: var(--font-poppins), "Poppins", sans-serif;
}

* {
  box-sizing: border-box;
}

@media (min-width: 320px) {
  html {
    font-size: 11px;
  }
}

@media (min-width: 375px) {
  html {
    font-size: 14px;
  }
}

@media (min-width: 768px) {
  html {
    font-size: 14px;
  }
}

@media (min-width: 1024px) {
  html {
    font-size: 14px;
  }
}

@media (min-width: 1280px) {
  html {
    font-size: 16px;
  }
}

@media (min-width: 1536px) {
  html {
    font-size: 18px;
  }
}

@media (min-width: 1600px) {
  :root {
    --section-max-width: 92rem;
    --section-max-width-narrow: 89rem;
  }
}

@media (min-width: 2560px) {
  html {
    font-size: 28px;
  }
}

@media (min-width: 3840px) {
  html {
    font-size: 40px;
  }
}

@media (min-width: 5120px) {
  html {
    font-size: 56px;
  }

  body {
    max-width: 5120px;
    margin: auto;
  }
}
